CREATE DATABASE UserManagementDB;
GO

USE UserManagementDB;
GO

CREATE TABLE Users (
    UserId INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    HashedPassword NVARCHAR(256) NOT NULL,
    Email NVARCHAR(100) NOT NULL
);
